{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad.css" />
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/javascripts/blocks.js"></script>
{{/contentFor}}

<div class="container">
  <ul class="blocks">
    {{#each blocks}}
      <li class="box block-box" rel="{{area}}">
        <a href="{{href}}" title="{{name}}">
          <span class="cover">{{name}}</span>
          <img src="/images/{{img}}" alt="{{name}}">
        </a>
      </li>
    {{/each}}
  </ul>
  {{#if isEmpty}}
    <div class="on-contruction">
      <img src="/images/padnet-construction.png" alt="">
    </div>
    <p class="ups-msg">Ups! No hay bloques por el momento.</p>
  {{/if}}
</div>

<a id="back-home" href="/"></a>