{{#contentFor 'pageStyles'}}
  {{#unless production}}
    <link rel="stylesheet" href="/stylesheets/pad.css" />
  {{/unless}}
{{/contentFor}}

{{#contentFor 'pageScripts'}}
  {{#unless production}}
    <script src="/javascripts/blocks.js"></script>
  {{/unless}}
{{/contentFor}}

<div class="container">
  <ul class="blocks">
    {{#each blocks}}
      <li class="box block-box" rel="{{area}}">
        <a href="/tangibles/{{area}}/{{axis}}" title="{{name}}">
          <span class="cover">{{name}}</span>
          <img src="/images/{{img}}" alt="{{name}}">
        </a>
      </li>
    {{/each}}
  </ul>
  {{#if isEmpty}}
    <p class="ups-msg">Ups! No hay tangibles por el momento.</p>
  {{/if}}
</div>