{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad.css" />
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/javascripts/blocks.js"></script>
{{/contentFor}}

<div class="container">
  <ul class="ejes no-js">
    {{#each ejes}}
      <li class="baraja" data-level="{{level}}" data-target="{{alt}}" data-owner="{{owner}}">
        <img src="/images/{{img}}" alt="{{alt}}">
        <a href="{{href}}"><h4>{{title}}</h4></a>
      </li>
    {{/each}}
  </ul>
  {{#if isEmpty}}
    <p class="ups-msg">Ups! No hay ejes por el momento.</p>
  {{/if}}
</div>

<a id="back-home" href="/"></a>