{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad.css" />
<link rel="stylesheet" href="/stylesheets/dock-left.css" />
<link rel="stylesheet" href="/stylesheets/vendor/magnific/magnific-popup.css">
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/javascripts/blocks.js"></script>
<script src='/javascripts/jquery.jqdock.min.js'></script>
<script src='/javascripts/clicks.js'></script>
<script src='/javascripts/jqdoc.anim.js'></script>
<script src="/javascripts/vendor/magnific/jquery.magnific-popup.js"></script>
<script src="/javascripts/vendor/magnific/bienvenida.js"></script>
{{/contentFor}}

<!--
 <div class="container">
  <div class="path">
    <>
      <img src="/images/cloud-icon.png" alt="">
    </a>
  </div> 
  -->
<!---
 <div class="container">
  <div class="path">
     <p>{{area}}</p>
  </div> 
 </div> 
-->
  <div id='page'>
    <div id='menu'>
      <img src='../images/dock_left/inicio.png' title='Inicio' alt='' />
      <img src='../../images/dock_left/bienvenida.png' id='open-popup' title='Bienvenida' alt='' />
      <img src='../images/dock_left/nubesemantica.png' title='Nube' alt='' />
      <img src='../images/dock_left/orientaciones.png' title='Orientaciones' alt='' />
      <img src='../images/dock_left/temastransversales.png' title='Transversales' alt='' />
      <img src='../images/dock_left/contacto.png' title='Contacto' alt='' />      
    </div>
  </div>  
  <ul class="ejes no-js">
    {{#each ejes}}
      <li class="baraja" data-level="{{level}}" data-target="{{alt}}" data-owner="{{owner}}">
        <a href="{{href}}"><img src="/images/{{img}}" alt="{{alt}}"></a>
        <a href="{{href}}"><h4>{{title}}</h4></a>
      </li>
    {{/each}}
  </ul>
  {{#if isEmpty}}
    <div class="on-contruction">
      <img src="/images/padnet-construction.png" alt="">
    </div>
    <p class="ups-msg">Ups! No hay ejes por el momento.</p>
  {{/if}}
</div>

<!-- <a id="back-home" href="/"></a> -->