{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad.css" />
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/javascripts/blocks.js"></script>
{{/contentFor}}

<div class="container">
  <div class="to-cloud">
    <a id="btn-explorar" href="/explorar/{{area}}" title="Explorar desde aquí">
      <img src="/images/cloud-icon.png" alt="">
    </a>
  </div>
  <ul class="ejes no-js">
    {{#each ejes}}
      <li class="baraja" data-level="{{level}}" data-target="{{alt}}" data-owner="{{owner}}">
        <a href="{{href}}"><img src="/images/{{img}}" alt="{{alt}}"></a>
        <a href="{{href}}"><h4>{{title}}</h4></a>
      </li>
    {{/each}}
  </ul>
  {{#if isEmpty}}
    <div class="on-contruction">
      <img src="/images/padnet-construction.png" alt="">
    </div>
    <p class="ups-msg">Ups! No hay ejes por el momento.</p>
  {{/if}}
</div>

<a id="back-home" href="/"></a>