{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad.css" />
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/javascripts/vendor/jquery/jquery.baraja.js"></script>
<script src="/javascripts/koExtender.bindings.js"></script>
<script src="/javascripts/main.js"></script>
{{/contentFor}}


<div data-bind="visible: isLoading" class="text-center loader">
  <div class="logo"></div>
  <span>Cargando ...</span>
</div>
<div data-bind="visible: !isLoading()" style="display: none;">
  <div class="baraja-main clearfix">

    <ul id="baraja-el" class="baraja-container" data-bind="click: itemClick">
      {{#each barajas}}
        <li data-level="{{level}}" data-target="{{alt}}" data-owner="{{owner}}">
          <img src="/images/{{img}}" alt="{{alt}}">
          <h4>{{title}}</h4>
        </li>
      {{/each}}
    </ul>

    <ul class="pager">
      <!--<li><a href="#" data-bind="click: barajaPrev">&laquo;</a></li>-->
      <li><a href="#" data-bind="click: seleccionarBaraja">Seleccionar</a></li>
      <li><a href="/explorar">Explorar</a></li>
      <!--<li><a href="#" data-bind="click: barajaNext">&raquo;</a></li>-->
    </ul>

  </div>

</div>