{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad.css" />
<link rel="stylesheet" href="/stylesheets/dock-left.css" />
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/javascripts/vendor/jquery/jquery.baraja.js"></script>
<script src="/javascripts/koExtender.bindings.js"></script>
<script src="/javascripts/main.js"></script>
<script type='text/javascript' src='/javascripts/jquery.jqDock.min.js'></script>
<script type='text/javascript' src='/javascripts/clicks.js'></script>
<script type='text/javascript' src='/javascripts/jqdoc.anim.js'></script>
{{/contentFor}}
<div id='page'>
  <div id='menu'>
    <img src='images/dock_left/bienvenida.png' title='Bienvenida' alt='' />
    <img src='images/dock_left/nubesemantica.png' title='Nube' alt='' />
    <img src='images/dock_left/orientaciones.png' title='Orientaciones' alt='' />
    <img src='images/dock_left/temastransversales.png' title='Transversales' alt='' />
	<img src='images/dock_left/contacto.png' title='Contacto' alt='' />    
  </div>
</div>
<div data-bind="visible: isLoading" class="text-center loader">
  <div class="logo"></div>
  <span>Cargando ...</span>
</div>
<div data-bind="visible: !isLoading()" style="display: none;">
  <div class="baraja-main clearfix">

    <ul id="baraja-el" class="baraja-container">
      {{#each barajas}}
        <li class="baraja" data-level="{{level}}" data-target="{{alt}}" data-owner="{{owner}}">
          <img src="/images/{{img}}" alt="{{alt}}">
          <a href="{{href}}"><h4>{{title}}</h4></a>
        </li>
      {{/each}}
    </ul>

  </div>

  <div>
    <ul class="nav-buttons">
      <li><a class="btn btn-default" href="#" data-bind="click: barajaPrev">&laquo;</a></li>
      <li><a class="btn  btn-default" href="#" data-bind="click: seleccionarBaraja">Seleccionar</a></li>
      <li><a class="btn  btn-default" href="/explorar">Explorar</a></li>
      <li><a class="btn  btn-default" href="#" data-bind="click: barajaNext">&raquo;</a></li>
    </ul>
  </div>

</div>