{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad.css" />
<link rel="stylesheet" href="/stylesheets/dock-left.css" />
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/javascripts/blocks.js"></script>
<script type='text/javascript' src='/javascripts/jquery.jqdock.min.js'></script>
<script type='text/javascript' src='/javascripts/clicks.js'></script>
<script type='text/javascript' src='/javascripts/jqdoc.anim.js'></script>
{{/contentFor}}

  <div id='page'>
    <div id='menu'>
      <img src='../../../images/dock_left/inicio.png' title='Inicio' alt='' />
      <img src='../../images/dock_left/bienvenida.png' title='Bienvenida' alt='' />
      <img src='../../../images/dock_left/nubesemantica.png' title='Nube' alt='' />
      <img src='../../../images/dock_left/orientaciones.png' title='Orientaciones' alt='' />
      <img src='../../../images/dock_left/temastransversales.png' title='Transversales' alt='' />
      <img src='../../../images/dock_left/contacto.png' title='Contacto' alt='' />      
    </div>
  </div> 

{{#with tangible}}
<div class="container">
  <article class="tangible">
    <h2>{{content.title}}</h2>
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive" src="/package/{{uid}}/image/content" alt="{{content.title}}"/>
      </div>
      <div class="col-sm-6">
        <h4>Ficha Técnica</h4>
        <p>
          {{content.content}}
        </p>
        <div class="panel panel-default">
          <div class="panel-body text-center">
            <a class="btn btn-sm-lg" style="width: 100%;" href="/package/{{uid}}/content" target="_blank">
            <i class="icon-download"></i> Descargar Tangible</a>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
{{/with}}

<a id="back-home" href="/"></a>