{{#contentFor 'pageStyles'}}
<link rel="stylesheet" href="/stylesheets/pad.css" />
{{/contentFor}}

{{#contentFor 'pageScripts'}}
<script src="/javascripts/blocks.js"></script>
{{/contentFor}}

<div class="container">
  <div class="to-cloud">
    <a id="btn-explorar" href="/explorar/{{toExplore}}" title="Explorar desde aquí">
      <img src="/images/cloud-icon.png" alt="">
    </a>
  </div>
  <ul class="tangibles">
    {{#each tangibles}}
      <li class="box tangible-box" rel="{{content.area}}">
        <a href="/tangible/{{uid}}" title="{{content.title}}">
          <span class="cover">{{content.title}}</span>
          <img src="/package/{{uid}}/image/front" alt="{{content.title}}">
        </a>
      </li>
    {{/each}}
  </ul>
  {{#if isEmpty}}
    <div class="on-contruction">
      <img src="/images/padnet-construction.png" alt="">
    </div>
    <p class="ups-msg">Ups! No hay tangibles por el momento.</p>
  {{/if}}
</div>

<a id="back-home" href="/"></a>