
<!DOCTYPE html>
{{#if areaClass}}
  <html class="{{areaClass}}" data-area="{{area}}">
{{else}}
  <html>
{{/if}}
  <head>
     {{> header}}
  </head>
  <body class="loading">
    
    <div class="loading-wrap center-screen">
      <div class="bg-loading"></div>
      <div class="sandclock-loading"></div>
    </div>

    <div class="page-wrap">
      <div id="content">
        {{{body}}}
      </div>

      {{#if showCartoon}}
        <div class="area-cartoon active"></div>
      {{else}}
        <div class="area-cartoon"></div>
      {{/if}}
    </div>
       
    <footer class="dte-footer clearfix">
      <div class="logo-dte"></div>
      <div class="logo-ba"></div>
      <div class="logo-pad"></div>
    </footer>
    
    {{#unless home}}
      <a id="to-home" href="/"></a>
    {{/unless}}
  
    {{#unless home}}
      <div id="aside-area-menu" >
        <div class="center-aside-area-menu"></div>
        <div class="roulette-aside-area-menu"></div>
      </div>
      <div class="bg-lock" class="showing">
        {{> menu_areas}}
      </div>
    {{/unless}}
    
    
    {{#unless cloud}}
    <a id="to-cloud" href="/explorar{{toExplore}}"></a>
    {{/unless}}
    <!--<a id="to-find" href="/"></a>-->

    {{> menu}}

    <!-- common scripts -->
    {{> scripts}}

    <!-- google analytics -->
    {{> ga}}

  </body>
</html>