
<!DOCTYPE html>
{{#if areaClass}}
  <html class="{{areaClass}}" data-area="{{area}}">
{{else}}
  <html>
{{/if}}
  <head>
     {{> header}}
  </head>
  <body>
    
    <div class="page-wrap">
      <div id="content">
        {{{body}}}
      </div>

      {{#if showCartoon}}
        <div class="area-cartoon active"></div>
      {{else}}
        <div class="area-cartoon"></div>
      {{/if}}
    </div>
       
    <footer class="dte-footer">
      <div class="logo-dte"></div>
      <div class="logo-ba"></div>
    </footer>

    {{> menu}}

    {{> gallery}}

    <!-- common scripts -->
    {{> scripts}}

  </body>
</html>