<div class="mapa-bienvenida"></div>

<div class="container">
  
  <div class="row welcome-wrap">
    <div class="col-sm-11 col-sm-offset-1">

      <div class="row">
        <div class="col-xs-10 col-xs-offset-2 col-sm-12 col-sm-offset-0 col-md-12 col-md-offset-0 col-lg-12 col-lg-offset-0">
          <ul id="menu-welcome">
            <li data-target="Presentación" class="{{pClass}}">
              <a href="{{pHref}}" data-toggle="tooltip" data-placement="bottom" title="Presentación"><div class="expand"></div></a>
            </li>
            <li data-target="Acerca de" class="{{aClass}}">
              <a href="{{aHref}}" data-toggle="tooltip" data-placement="bottom" title="Acerca del PAD"><div class="expand"></div></a>
            </li>
            <li data-target="Marco General" class="{{mClass}}">
              <a href="{{mHref}}" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Marco General"><div class="expand"></div></a>
            </li>
            <li data-target="Encuadre" class="{{eClass}}">
              <a href="{{eHref}}" data-toggle="tooltip" data-placement="bottom" title="Encuadre de la Areas y CEC"><div class="expand"></div></a>
            </li>
          </ul>
        </div>
      </div>

      <div class="welcome-content">
        
        {{#if isP}}
          <div class="aboutus">
            <h4>Autoridades</h4>
      
            <ul class="creditos-ceremonial">
              <li>
                <p>
                  <strong>Gobernador</strong> </br>
                  <span>Dn. Daniel Scioli</span>
                </p>           
              </li>
              <li>
                <p>
                  <strong>Vicegobernador</strong> </br>
                  <span>Lic. Gabriel Mariotto</span>
                </p> 
              </li>
              <li>
                <p>
                  <strong>Directora General de Cultura y Educación</strong> </br>
                  <span>Dra. Nora De Lucia </span>
                </p> 
              </li>
              <li>
                <p>
                  <strong>Vicepresidente 1º del  Consejo General de Cultura y Educación</strong> </br>
                  <span>Dr. Claudio Crissio</span>
                </p> 
              </li>
              <li>
                <p>
                  <strong>Jefe de Gabinete de Asesores</strong> </br>
                  <span>Cr. Fernando Spinoso </span>
                </p> 
              </li>
              <li>
                <p>
                  <strong>Subsecretario de Educación</strong> </br>
                  <span>Dr. Néstor Ribet 
                </p>
              </li>
            </ul>
            
            <ul class="creditos-proyectos">
              <li>
                <p>
                  <strong>Director Provincial de Proyectos Especiales</strong> </br>
                  <span>Ing. Pablo Barbosa</span>
                </p> 
              </li>
              <li>
                <p>
                  <strong>Directora de Tecnología Educativa</strong> </br>
                  <span>Lic. Liliana Vigolo</span>
                </p>
              </li>
            </ul>

            <h4>Equipo del Programa de Alfabetización Digital -PAD-</h4>

            <ul class="creditos-coordinadora">
              <li>
                <p>
                  <strong>Coordinadora</strong></br>
                  <span>Juliana Ricardo</span>
                </p>
              </li>
            </ul>

            <ul class="creditos-equipo">
              <li><strong>Equipo técnico-pedagógico</strong></li>
              <li><span>Analía González</span></li>
              <li><span>Andrés Gomel</span></li>
              <li><span>Patricia Adamini</span></li>
              <li><span>Christian Beri</span></li>
              <li><span>Pedro Luis Peretti</span></li>
              <li><span>Eugenia Heredia</span></li>
              <li><span>Graciela Fernández Troiano</span></li>
              <li><span>Silvia Perassolo</span></li>
              <li><span>Viviana Verón</span></li>
              <li><span>Miriam Inés Volosín</span></li>
              <li><span>Amadeo Carrizo</span></li>
              <li><span>Leandro Radesh</span></li>
              <li><span>Silvia Ramírez</span></li>
              <li><span>Delmo Carrozzo</span></li>
              <li><span>Rodrigo Bonilla</span></li>
              <li><span>Juan José Monteleone</span></li>
              <li><span>Miguel Verón</span></li>
              <li><span>Germán Villafañe</span></li>
            </ul>

            <p class="agradecimientos">
              Un Gracias inmenso a Adriana Vidal, Verónica Wogeschaffen , Silvia Bon, Julio Shinca, Fernando M. Waltos, Rosana Froiz y Alejandro Palestrini; por sus aportes a este proyecto, y especialmente a María Elene Patzer por haber soñado y hecho posible el PAD, con trabajo, compromiso y calidez.
            </p>

            <div class="aboutus-footer">
              <p><small>Producido por la DTE</small></p>
              <p><small>Dirección General de Cultura y Educación</small></p>
              <p><small>Provincia de Buenos Aires</small></p>
            </div>
          </div>

          <hr>

          <div class="presentation text-center">
            <img src="/pad/img/imagenes_presentacion/img_01.png" alt="" class="img-responsive">
          </div>
        {{/if}}

        {{#if isA}}
          <div class="aboutus">
            <h4>¿Qué es el PAD?</h4>

            <p>El Programa de Alfabetización Digital es la propuesta pedagógica de la DTE para acompañar a los docentes en la enseñanza TIC, destinada a las escuelas primarias y CEC de la Provincia de Buenos Aires.</p>
            
            <p>Desde el equipo del PAD trabajamos articuladamente en dos áreas:</p>
            <ul>
              <li>la de Producción y curación de asistentes digitales: donde seleccionamos y producimos recursos digitales para la enseñanza</li>       
              <li>la de Acompañamiento territorial: que, desde nuestros talleres, presentaciones, capacitaciones, acompañamientos situados, etc. Hacemos llegar el PAD a todos los rincones de la Provincia.</li>
            </ul>

            <h4>¿Cuál es nuestro propósito?</h4>

            <p>Desde el PAD queremos acompañar a los docentes y brindarles recursos para enseñar con TIC, en un mundo donde el conocimiento se construye de manera diferente y  nos propone el desafío de enseñar y aprender de manera diferente....
            Desde ese lugar el Programa de Alfabetización Digital proyecta líneas de acción articuladas con las direcciones de nivel primario , CEC y los diversos planes, programas y proyectos que las atraviesan para, de manera conjunta, asistir y potenciar a las escuelas en  la ampliación de horizontes para los alumnos. Esto será posible integrando de manera pertinente las TIC al desarrollo curricular para fortalecer las situaciones de enseñanza y promocionar la adquisición de aprendizajes significativos por parte de los alumnos.
            Para ello ponemos a disposición este espacio al que llamamos “escritorio” y que, enmarcado en los Diseños Curriculares, ha sido pensado para que los docentes hagan una verdadera apropiación y los utilicen de acuerdo con sus propios criterios y las necesidades que se les presentan en cada situación de enseñanza. Nuestra intención no es ofrecer recetas ni propuestas cerradas; por el contrario, apostamos al protagonismo de la intervención del docente, no sólo para que conviertan estos recursos en asistentes digitales para la enseñanza, sino también para que puedan crear y compartir los propias producciones en este espacio. Queremos que la comunidad educativa en su conjunto sea productora de contenidos digitales para la enseñanza, se sume a este proyecto, lo enriquezca y sea parte activa en esta experiencia colectiva de educar a nuestros niños, desde los lenguajes y las posibilidades que les presenta el mundo actual.
            Asimismo, tenemos en nuestro horizonte estar físicamente presentes acompañando a los docentes en la apropiación de una enseñanza con TIC y para ello desarrollamos un sinfín de actividades territoriales, como las visitas a escuelas, acompañamientos situados, “desembarcos” (donde el equipo PAD, en acuerdo con la escuela entra al aula y acompaña a los docentes en sus clases), presentaciones, talleres a docentes, directores, inspectores y otros actores que deseen formar parte de este proceso.
            </p>

            <h4>¿Quiénes hacemos el PAD?</h4>

            <p>El Programa de Alfabetización Digital está integrado por un equipo multidisciplinario de profesionales de la educación. La conformación de nuestro equipo tuvo en consideración la posibilidad de abordar desde perspectivas didácticas y pedagógicas la inclusión curricular de las TIC, proceso complejo que sin dudas demanda de un conjunto de saberes de diversa índole. Es por ello que somos un equipo compuesto por especialistas de las áreas curriculares del nivel Primario (Prácticas del Lenguaje, Matemática, Ciencias Sociales, Ciencias Naturales, Ed. Artística, Ed. Física), psicólogos especializados en CEC, pedagogos, docentes, directores, técnicos, desarrolladores, diseñadores e ilustradores, que conocemos en profundidad los lineamientos del Diseño Curricular de la provincia (documento que organiza el escritorio del PAD y la principal estrategia de trabajo del equipo) y trabajamos articuladamente para pensar, seleccionar y producir recursos digitales para potenciar la enseñanza y los aprendizajes en las aulas.</p>

            <h4>¿Qué vas a encontrar en este espacio?</h4>

            <p>El equipo PAD inició el armado del “escritorio” a mediados de 2013. En ese momento, se definió el diseño a adoptar y se inició la curación de tangibles en la Web. Hablamos de “curación” en tanto búsqueda, selección y organización de recursos ya existentes.
            En la actualidad, el equipo del PAD se encuentra produciendo sus propios asistentes digitales para la enseñanza, a partir de un trabajo articulado entre los especialistas y los integrantes del equipo técnico, responsables últimos del buen funcionamiento del escritorio y por lo tanto figuras centrales de nuestro equipo.
            En este sentido, es importante decir que el “escritorio” fue diseñado y puesto en marcha a partir del desarrollo de un concepto de imagen propio, que tiene en consideración diferentes elementos como lo bonarense, lo escolar, lo digital, entre otras cosas.
            En este espacio vas a encontrar entonces asistentes digitales para la enseñanza de Prácticas del Lenguaje, Matemática, Ciencias Sociales, Ciencias Naturales, Educación Física, Inglés, Educación Artística, y para los CEC.
            La arquitectura del “escritorio” responde no sólo a la distinción de las área curriculares, sino también a los núcleos de contenidos que plantea el Diseño Curricular de la Pcia para cada una de ellas.
            Todos los materiales disponibles en el “escritorio” cuentan con sus respectivas fichas técnicas, que indican la relación con el diseño curricular, y orientan sobre sus posibles usos para la enseñanza.
            Haciendo click, podrá descargar diversidad de asistentes digitales: Videos, textos digitales, audiolibros, mapas, imágenes, presentaciones, gráficos, aplicaciones, tutoriales, simulaciones.</p>

            <h4>Distribuido bajo la Licencia GNU GPL v3</h4>
            <p>
              Copyright (c) 2013-2014 Dirección de Tecnología Educativa de Buenos Aires (Dte-ba)
            </p>
            <p>Es Software Libre; Usted puede redistribuirlo y/o modificarlo bajo los términos de la Licencia Pública General de la GNU según los datos publicados por la Free Software Foundation, de la versión 3 de la Licencia, o bien, a su elección, cualquier versión posterior. </br>
            Usted debe haber recibido una copia de la Licencia Pública General de la GNU junto con este programa, si no es asi, ingrese en <a href="http://www.gnu.org/licenses/gpl-3.0.html" target="_blank">Aquí</a>.</p>

            <h4>¿Encontraste un Error?</h4>

            <p>Reportalo <a href="https://github.com/Dte-ba/pad/issues" target="_blank">aquí</a></p>

          </div>
        {{/if}}
        
        {{#if eClass}}
          <div class="encuadre">
            <div class="row">
              {{#each encuadres}}
                <div class="col-sm-4 col-md-3 col-lg-2">
                  
                  <div class="eje">
                    
                    <a href="{{href}}" target="_blank" >
                      <div class="img-wrap">
                        <img src="{{img}}" alt="{{alt}}">
                      </div>
                      
                      <div class="title-wrap">
                        {{alt}}
                      </div>
                    </a>

                   </div>

                </div>
              {{/each}}
            </div>
          </div>

        {{/if}}

      </div>
    </div>
  </div>

</div>