<div class="container-fluid">
  <div class="section-header">
    <h1>{{owner}}</h1>
  </div>
  <ul class="ejes">
    {{#each ejes}}
      <li class="baraja" data-level="{{level}}" data-target="{{alt}}" data-owner="{{owner}}">
        <a href="{{href}}"><img src="/pad/img/{{img}}" alt="{{alt}}"></a>
        <a href="{{href}}"><h4>{{title}}</h4></a>
      </li>
    {{/each}}
  </ul>
  {{#if isEmpty}}
    <div class="on-contruction">
      <img src="/pad/img/padnet-construction.png" alt="">
    </div>
    <p class="ups-msg">Ups! No hay ejes por el momento.</p>
  {{/if}}
</div>