<div class="container-fluid">
  <div class="section-header">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <h1>{{owner}}</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      
        <div class="row">
          {{#each ejes}}
            <div class="col-sm-4 col-md-3 col-lg-2">
              
              <div class="eje" data-level="{{level}}" data-target="{{alt}}" data-owner="{{owner}}">
                
                <a href="{{href}}">
                  <div class="img-wrap">
                    <img src="/pad/img/{{img}}" alt="{{alt}}">
                  </div>
                  
                  <div class="title-wrap">
                    {{title}}
                  </div>
                </a>

               </div>

            </div>
          {{/each}}
        </div>

      {{#if isEmpty}}
        <div class="on-contruction">
          <img src="/pad/img/padnet-construction.png" alt="">
        </div>
        <p class="ups-msg">Ups! No hay ejes por el momento.</p>
      {{/if}}
    </div>
  </div>
</div>