<div class="container-fluid">
  <div class="tangibles-wrapper">
    <div class="tangibles-columns">
    {{#each tangibles}}
      <a href="/tangible/{{uid}}" title="{{content.title}}">
        <div class="pin {{bg}}">
          <img class="img-responsive" src="/package/?uid={{uid}}&asset=front" alt="{{content.title}}">
          <p>{{content.title}}</p>
        </div>
      </a>
    {{/each}}
    </div>
  </div>

  <!--<div class="row tangibles-wrap">
    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
      <div class="row">
      {{#each tangibles}}
        <div class="col-sm-4 col-md-3 col-lg-2">
          <div class="tangible">
            <a href="/tangible/{{uid}}" title="{{content.title}}">
              <div class="tangible-cover text-center">
                <img class="img-responsive" src="/package/?uid={{uid}}&asset=front" alt="{{content.title}}">
              </div>
              <div class="tangible-fotter">
                <p>{{content.title}}</p>
              </div>
            </a>
          </div>
        </div>
      {{/each}}
      </div>
    </div>
  </div>-->
  {{#if isEmpty}}
  <div class="on-empty-wrap">
    <div class="on-empty text-center">
      <img src="/pad/img/cloud_error.png" alt="">
    </div>
    <p class="ups-msg text-center">Ups! No hay tangibles por el momento.</p>
  </div>
  {{/if}}
</div>