<div class="container-fluid">
  <div class="section-header">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <h1>
          <a href="/ejes/{{areaText}}">{{areaText}} &rsaquo; </a>
          <a href="/bloques/{{areaText}}/{{axis}}"><small>{{axis}}</small></a>
          <a href="/tangibles?area={{areaText}}&axis={{axis}}&block={{bloque}}"><small> &rsaquo; {{bloque}}</small></a></h1>
      </div>
    </div>
  </div>
</div>

{{#with tangible}}
<div class="container tangible-content">
  <div class="tangible-header">
    <h3>{{content.title}}</h3>
  </div>

  <div class="row">
    <div class="col-sm-6 text-center">
      <img class="img-responsive" src="/package?uid={{uid}}&asset=content" alt="{{content.title}}"/>
    </div>
    <div class="col-sm-6 tangible-body">
      <h4>Ficha Técnica</h4>
      <p> {{content.content}} </p>
      <a class="btn btn-default btn-tangible" style="width: 100%;" href="/package?content={{uid}}" target="_blank"></i> Acceder Tangible</a>
    </div>
    <div class="col-sm-12">
      <hr>
      <ul class="tangible-tags">
        <li class="cloud text-center">
          <i class="fa fa-cloud"></i>
        </li>
        {{#each tags}}
          <li><a href="/tangibles/?tag={{this}}">{{this}}</a></li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
{{/with}}