{{#contentFor 'pageStyles'}}
  {{#unless production}}
    <link rel="stylesheet" href="/stylesheets/main.css" />
  {{/unless}}
{{/contentFor}}

{{#contentFor 'pageScripts'}}
  {{#unless production}}
    <script src="/javascripts/panel-package.js"></script>
  {{/unless}}
{{/contentFor}}

{{#with tangible}}
<div class="container">
  <section id="tangible-main">
    <div class="page-header">
      <h2>{{content.title}} <small>{{uid}} <i id="iconStatus" class="{{statusClass}}"></i></small></h2>
      <div id="actions" data-status="{{status}}" data-uid="{{uid}}">
        <button id="btn_vb" class="btn btn-success"
                  data-bind="click: vistoBuenoHandler"><i class="icon-ok"></i> Visto Bueno</button>
          <button id="btn_r" class="btn btn-warning"
                  data-bind="click: reempaquetarHandler"><i class="icon-retweet"></i> Marcar para reempaquetar</button>
          <button id="btn_e" class="btn btn-danger"
                  data-bind="click: errorHandler"><i class="icon-warning-sign"></i> Error</button>
      </div>

    </div>
    
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-condesed">
          <tbody>
            <tr>
              <th>Area</th>
              <th><a href="/panel/?filter={{content.area}}">{{content.area}}</a></th>
            </tr>
            <tr>
              <th>Eje</th>
              <th><a href="/panel/?filter={{content.axis}}">{{content.axis}}</a></th>
            </tr>
            <tr>
              <th>Bloque</th>
              <th><a href="/panel/?filter={{content.block}}">{{content.block}}</a></th>
            </tr>
            <tr>
              <th>Tags</th>
              <th>
              {{#each content.tagsSplis}}
                <a href="/panel/?filter={{this}}">{{this}}</a><small> | </small>
              {{/each}}
              </th>
            </tr>
            <tr>
              <th>Fuente</th>
              <th>
                {{#if content.sourceHref}}
                  <a href="{{content.sourceHref}}" target="_blank">{{content.source}}</a>
                {{else}}
                  {{content.source}}
                {{/if}}
              </th>
            </tr>
            <tr>
              <th>Autor</th>
              <th><a href="/panel/?filter={{content.autor}}">{{content.autor}}</a></th>
            </tr>
          </tbody>
        </table>
        <h4>Observaciones</h4>
        <p>{{content.observations}}</p>
      </div>
      <div class="col-sm-6">
        <img  class="img-responsive" src="/package/{{uid}}/image/front" />
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive" src="/package/{{uid}}/image/content"/>
      </div>
      <div class="col-sm-6">
        <h4>Ficha Técnica</h4>
        <p>{{content.content}}</p>
      </div>
    </div>
    <hr>
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <a class="btn btn-sm-lg" style="width: 100%; font-size: 150%"
           href="/package/{{uid}}/content"><i class="icon-download"></i> Descargar contenido</a>
      </div>
    </div>

  </section>
</div>
{{/with}}